aiofiles
aiohttp>=3.13.5
beautifulsoup4
deep-translator
cachetools
gtts
groq
langdetect
motor>=3.7.1
Pillow
psutil
py-tgcalls
kurigram>=2.2.22
telethon
python-telegram-bot[job-queue,webhooks,http2,rate-limiter]>=22.7
shortuuid
telegraph
pytz
img2pdf
speedtest-cli
TgCrypto
yt-dlp
torch
transformers
opencv-python-headless
lottie
phlogo
moviepy
g4f
asyncpg
pydub
pandas
python-dotenv
PyGithub
